@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

header {
  padding: 20px 0px;
  background-color: rgb(31, 122, 140);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 60px;
  color: antiquewhite;
  -webkit-text-stroke: 3px rgb(224, 133, 51);
  letter-spacing: 3px;
  text-align: left;
}

header button {
  background-color: #00ab66;
  color: white;
  text-align: right;
  border: none;
  border-radius: 10px;
  width: fit-content;
  padding: 5px 15px;
  margin-right: 25px;
}

header button:hover {
  box-shadow: 0 0 10px 5px rgb(224, 133, 51);
  cursor: pointer;
}
