<!--Pokemon Grid-->
<app-header [isBattleButtonReady]="isBattleButtonReady"></app-header>
<app-squad-list [squad]="squad"></app-squad-list>
<div class="pokemon-grid">
  <div
    class="box"
    *ngFor="
      let pokemon of pokemons
        | paginate
          : { itemsPerPage: 12, currentPage: page, totalItems: totalPokemons }
    "
  >
    <img [src]="pokemon.sprites.other.home.front_shiny" [alt]="pokemon.name" />
    <h3>{{ pokemon.name }}</h3>
    <p><b>Type:</b> {{ pokemon.types[0].type.name }}</p>
    <p><b>Height:</b> {{ pokemon.height }}</p>
    <p><b>Weight:</b> {{ pokemon.weight }}</p>
    <p><b>Health:</b> {{ pokemon.stats[0].base_stat }}</p>
    <p><b>Attack:</b> {{ pokemon.stats[1].base_stat }}</p>
    <p><b>Special Attack:</b> {{ pokemon.stats[3].base_stat }}</p>
    <div class="btn">
      <button mat-button (click)="addPokemonToSquad(pokemon)">Add</button>
    </div>
  </div>
</div>

<!--End of Pokemon Grid-->

<pagination-controls
  (pageChange)="page = $event; pokemons = []; getPokemons()"
></pagination-controls>
