/* Pokemon Grid */

.pokemon-grid {
  display: grid;
  grid-gap: 16px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
}

.pokemon-grid .box {
  width: 100%;
  height: 300px;
  box-shadow: 1px 2px 5px rgb(31, 122, 140);
  display: grid;
  text-align: center;
}

.pokemon-grid .box:hover {
  box-shadow: 0 0 10px 5px rgba(31, 122, 140, 0.8);
}

.pokemon-grid .box img {
  max-width: 100px;
  display: block;
  margin: auto;
}

.btn button {
  background-color: rgb(31, 122, 140);
  color: white;
  margin: auto;
}

.btn button:hover {
  box-shadow: 0 0 10px 5px rgb(224, 133, 51);
}

pagination-controls {
  text-align: center;
}
